MONGODB_URI= mongodb://pushpam:<db_password>@ac-04nufcc-shard-00-00.vaec1sk.mongodb.net:27017,ac-04nufcc-shard-00-01.vaec1sk.mongodb.net:27017,ac-04nufcc-shard-00-02.vaec1sk.mongodb.net:27017/?ssl=true&replicaSet=atlas-aed0bw-shard-0&authSource=admin&appName=Cluster0